<nav class="main-navbar">
  <div class="nav-container">
    <a class="nav-brand" href="/">NYC Arrest Data</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>

      <li><a href="/help">Help & FAQ</a></li>
      
      <li class="nav-dropdown">
        <a href="#" class="dropdown-toggle">Arrests ▼</a>
        <ul class="dropdown-menu">
          <li><a href="/arrests">Browse All</a></li>
          <li><a href="/arrests/filter">Filter & Search</a></li>
        </ul>
      </li>
      
      <li class="nav-dropdown">
        <a href="#" class="dropdown-toggle">Analysis ▼</a>
        <ul class="dropdown-menu">
          <li><a href="/arrests/ranking">Crime Ranking</a></li>
          <li><a href="/trends/monthly">Monthly Trends</a></li>
          <li><a href="/trends/weekly">Weekly Trends</a></li>
          <li><a href="/stats">Statistical Dashboard</a></li>
          <li><a href="/demographics">Demographic Insights</a></li>
        </ul>
      </li>
      
      <li class="nav-dropdown">
        <a href="#" class="dropdown-toggle">Account ▼</a>
        <ul class="dropdown-menu">
          {{#if user}}
          <li><a href="/users/profile">My Profile</a></li>
          <li><a href="/users/logout">Logout</a></li>
          {{else}}
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
          {{/if}}
        </ul>
      </li>
    </ul>
  </div>
</nav>